/*google fonts intregrate*/
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*global css*/

{ margin: 0;
  padding: 0;
   }

body,h1,h2,h3,h4,h5,h6,input,p,span,button{
	font-family: 'Playfair Display', serif;
}    
a,a:hover{ text-decoration: none; }

/*header part css here*/

.header{ width: 100%;
 }


.navbar{ margin: 20px 0;}

.nav-item{ margin-left: 60px; } 


.nav-link{color: #b4ad9e !important ;
	transition: all 0.5s ease-in-out;
}



.nav-link:hover{color: #000 !important ;
 transition: all 0.5s ease-in-out;
 text-transform: uppercase;
}


.first-blog{ width: 100%; }

.blog-description{    margin: 70px;

}

.blog-description h1{
	margin: 20px 0;
}

.blog-description span{
 color: #b4ad9e;
 text-transform: uppercase;
}

.blog-description p{
	    margin-bottom:2rem;

}

/*blog gallery css here*/

.blog-gallery{ width: 100%;
    padding: 70px; }



.post img{ margin-bottom: 2rem; }

.post .post-description h2{
	margin: 18px 0;
}

.post .post-description span{
 color: #b4ad9e;
 text-transform: uppercase;
}

.post .post-description p{
	    margin-bottom: 2rem;

}

.post .post-description a{
 color: #b4ad9e;
 text-transform: uppercase;
}

.blog-gallery .col-md-6{
	    margin-bottom: 6rem;
	    padding: 0 30px;
}

/*newsletter css here*/
.newsletter{ width: 100%;
background: #f0f0f0;
padding: 64px 0;
text-align: center; }

.newsletter h1{ font-weight: 400 !important;
 margin-bottom: 44px;}

 form input { 
    padding: 15px 0 7px 0;
    width: 35%;
    border: none;
    background: transparent;
    border-bottom: 1px solid black }


form{ position: relative; }

form i { position: absolute;
top: 20px;
right: 33%; }

/*load more css*/

.load-more {margin: 80px 0 20px 0;
	text-align: center;

}

.load-more button{padding: 20px 50px;
    border: 1px solid black;
    background: transparent;
    font-size: 20px;
    color: #b4ad9e;}


/*footer section css*/

.footer{ background: #f0f0f0;
width: 100%;
padding: 50px 0;  }


.footer ul li{ list-style: none;
    display: inline-block;
            }


.footer ul li a{ color: black; }

.left{text-align: left;

}

.left ul li{
    margin-right: 20px;

}
.right{text-align: right;

}

.right ul li{

    margin-left: 20px;
}

.right ul li i{
    color: #b4ad9e;
}

.right ul li i:hover{
    color: black;
}


